body {
    background-color: var(--main-bg-color);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: var(--text-color);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.button {
    position: relative;
    z-index: 10;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.accent {
    font-weight: bold;
    -webkit-text-stroke: 1px #fff;
}